body {
  background-color: #000;
}

#landing-header {
    /*set the z-index to 1 so all of the elements inside the landing-header div 
    will be in front of the background images*/
    z-index: 1;
    /*the default position value is static, which ignores z-index*/
    position: relative;
    text-align: center;
    /*view height*/
    padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-0.3.5&s=1ede8c01c0ab120c57a3c8b9b6c7e416&auto=format&fit=crop&w=999&q=80);
}
.slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1516161786189-4c01a74daa94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55cfa2e8e44331edc7d4995fd4af582d&auto=format&fit=crop&w=1049&q=80);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1510277861473-16b27b39c47a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7594a7db81f5c29091b16136c64a59f6&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e2448175103d36c873e2511d112d339&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1532298488760-970ff6decf61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3711730b634b1dffe003b0df189c47a8&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    10% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}